<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214819618897-1rpnikk6jmt77d8cbaptn1s92d69706n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214819618897-1rpnikk6jmt77d8cbaptn1s92d69706n</string>
	<key>API_KEY</key>
	<string>AIzaSyDzmNQJoFWQ9g5RvMrVokIg5RAro-13KYs</string>
	<key>GCM_SENDER_ID</key>
	<string>214819618897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>payday.jp</string>
	<key>PROJECT_ID</key>
	<string>jphacks-b4cdb</string>
	<key>STORAGE_BUCKET</key>
	<string>jphacks-b4cdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214819618897:ios:e2073b7d802df5c05ff870</string>
	<key>DATABASE_URL</key>
	<string>https://jphacks-b4cdb-default-rtdb.firebaseio.com</string>
</dict>
</plist>